APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
APP_KEY=

GSA_CLIENT_ID=
GSA_CLIENT_SECRET=
GSA_REDIRECT_URL=http://127.0.0.1:8080/auth/callback

CACHE_DRIVER=redis
SESSION_DRIVER=file
REDIS_HOST=redis
SHOP_PACK_CACHE_TTL=10
